Flask==2.3.3
flask-appbuilder==4.3.7     # Flask?????
Flask-Migrate==4.0.5        # ???????
flask-compress==1.14       #  Flask?????
flask-caching==2.0.2        # Flask???
flask-talisman==1.1.0       #  Flask????
Flask-OpenID==1.3.0         # via flask-appbuilder  Flask OpenID?
Flask-SQLAlchemy==2.5.1     # via flask-appbuilder
Flask-Login==0.6.2          # via flask-appbuilder
Flask-Limiter==3.5.0        # via flask-appbuilder
Flask-JWT-Extended==4.5.2   # via flask-appbuilder
Flask-WTF==1.2.1            # via flask-appbuilder
Jinja2==3.1.2               # via flask-appbuilder
kombu==5.3.2                # via flask-appbuilder
SQLAlchemy==1.4.49          # via flask-appbuilder
SQLAlchemy-Utils==0.41.1    # via flask-appbuilder
werkzeug==2.3.7
wtforms==2.3.3
wtforms-json==0.3.5
Flask-Cors==3.0.10          # Flask???????CORS??
# Flask-Babel==4.0.0          # ????

celery==5.2.2               # ???????,5.2.2
gunicorn==21.2.0            # Python WSGI HTTP???
humanize==4.8.0             # ??????????
emoji==2.8.0                # ??????
psycopg2-binary==2.9.8      # postgresql???
wechatpy==1.8.18            # ????????????API??
pycryptodome==3.19.0        # wechat??????
xlrd==2.0.1                 # ???????Excel????
pydub==0.25.1               # ?????????????
openpyxl==3.1.2             # ???????Excel????
elasticsearch==7.12.1       # es???
jieba==0.42.1               # ????
sseclient-py==1.8.0         # openai ?????
simplejson==3.19.1          # ?????JSON????
PySnooper==1.2.0            # ??????
kubernetes==21.7.0          #  Kubernetes Python????
statsd==4.0.1               # ????????????StatsD??????
redis==5.0.1                # redis?????
pymysql==1.1.0              # ??mysql???
minio==7.1.17               # MinIO Python????
markdown==3.4.4             # Markdown?????
croniter==1.4.1             # cron??????
contextlib2==21.6.0         # ?????contextlib???????
parsedatetime==2.6          # ???????
pylint==3.0.0               # Python????????????????????????
bleach==6.0.0               # HTML???????
pandas==2.1.1               # ????
beautifulsoup4==4.12.2      # ????HTML?XML??
cffi==1.16.0


